<div class="container">
  <div class="row"> 
    <!--<h1>{{ testData[0].ProductName }}</h1>-->
    <div *ngFor="let product of testData ; let i = index" class="border rounded p-3 m-2">
      <h4>{{ product.ProductName }}</h4>
      <p>{{ product.QuantityPerUnit }}</p>
      <p>{{ product.UnitPrice }}</p>
      <!--<button (click)="checkStock(product)" class="btn btn-primary">Check Availability</button>-->
      <button class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#prod-' + i">Check Availability</button>
      <!-- Modal -->
      <div class="modal fade" [attr.id]="'prod-' + i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ product.ProductName }}</h5>
            </div>
            <div class="modal-body">
              <div *ngIf="product.Available>0;else other_content"> YES! {{ product.Available }} units in stock.</div>
              <ng-template #other_content>Not in stock...</ng-template>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        <!-- Modal: --> 
      </div>
    </div>
    <!-- row: --> 
  </div>
  <!-- container: --> 
</div>
